
#treeview{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 10;
  background-color: #fff;
}

.my-btn-close{
  margin: 2px 5px 2px auto;
  background-color: #fff;
  justify-self: right;
  float: right;
  border: 0px;
}

.my-btn-close:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}