.main-gallery-view{
    padding-top: 2em;
    background-color: #ffffff;
    margin: auto;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
  }


  


  .gallery-caption{
    border: 0   px solid black; 
  }